{
  "manifest_version": 3,
  "name": "Cookie Viewer",
  "version": "1.0",
  "key" : "UPDATEME",
  "description": "View all cookies grouped by domain.",
  "permissions": ["downloads", "cookies"],
  "host_permissions": [
    "<all_urls>"
  ],
  "background": {
    "service_worker": "popup.js"
  },
  "action": {
    "default_title": "Cookie Viewer"
  }
}